<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="plan">PhysioConnect</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav"  *ngIf="
      (auth$ | async)?.loggedInUser &&
      (auth$ | async)?.loggedInUser!.roles.includes(UserRole.PATIENT)">
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="plan"><i class="fas fa-people-group"></i> My Plans</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="visits"><i class="fas fa-calendar"></i> Upcoming visits</a>
        </li>
      </ul>
      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <ul class="navbar-nav"  *ngIf="(auth$ | async)?.loggedInUser">
          <li class="nav-item mx-2 disabled">
            <a class="nav-link" routerLink="/logout" (click)="onLogoutClick()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</nav>
